{% extends "base.html" %}

{% block content %}


<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgiphy.com%2Fgifs%2Ftwitter-MNa0HKdhc3SGQ&psig=AOvVaw06_tY0X_dSq2Zc1zm2vaCR&ust=1583387162401000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDki_6OgOgCFQAAAAAdAAAAABAO" type="video/mp4">
</video>
<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
    <h1> House of Quiet</h1>
          <br />
          <div>
              <br /><br />
              <h3>{{sentence}}</h3>
 <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Sentence</a>
          </div>
      </div>
      </div>
    </div>
  </div>


{% endblock %}
